#heading
{
    text-align: center;
}
#heading span
{
    color: grey;
}
body{
    margin: 10%;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 10px;
}
h3{
    font-size: 16px;
}
body input
{
    margin-top: 8px;
    width:40%;
    color: grey;
    padding: 4px;
    width: 90%;
}
#three1
{
    width:40%;
}
.left
{
    position: relative;
    width: 50%;
    float: left;
}
i{
    color: red;
}
label
{
    visibility: hidden;
    font-size: 8px;
    color: red;
}
.left select
{
    padding: 5px;
    padding-right: 155px;
}
.right
{
    position: relative;
    width:50%;
    float: left;
}

#rtwo
{
    width:45%;
}
#rtwotwo
{
    width:45%;
}
b{
    color: white;
}
#cityname
{
    width:40%;
}
.bottom
{
    font-size: 12px;
    line-height: 25px;
    color: darkslategray;
}
.bottom button{
    color:dodgerblue;
    padding: 5px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}
.footer
{
    position: relative;
    float: right;
    padding-right: 5%;
}
.footer button{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: dodgerblue;
    color:white;
    border:none;
    border-radius: 5px;
}
